body {
    margin: 0;
    background: #f7f7f7;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    padding: 22px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.navbar nav a {
    font-size: 18px;
    margin-left: 28px;
    text-decoration: none;
    color: #444;
    padding-bottom: 6px;
    transition: 0.25s ease;
    position: relative;
}

.navbar nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: #777;
    border-radius: 5px;
    transition: 0.3s ease;
}

.navbar nav a:hover {
    color: #000;
    transform: translateY(-2px);
}

.navbar nav a:hover::after {
    width: 100%;
}


.education-container {
    max-width: 1000px;
    margin: 80px auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 700;
}


.edu-card {
    background: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.07);
    margin-bottom: 35px;
    transition: 0.25s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* Hover animasyonu */
.edu-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 35px rgba(0,0,0,0.10);
}

.edu-left {
    flex: 2;
}

.edu-left h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.edu-left p {
    font-size: 17px;
    color: #555;
    margin-bottom: 12px;
}

.edu-link {
    display: inline-block;
    padding: 10px 18px;
    background: #333;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.25s ease;
}

.edu-link:hover {
    background: #000;
    transform: translateY(-3px);
}

.edu-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.edu-photo {
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 20px;
    background: #fafafa;
    padding: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}


.highschool {
    border-left: 6px solid #ffe680;
}

.bakircay {
    border-left: 6px solid #1abcbd;
}

.ui-card {
    border-left: 6px solid #ff9800;
}

.ui-link {
    background: #ff9800 !important;
}

.ui-link:hover {
    background: #e68a00 !important;
}

@media (max-width: 800px) {
    .edu-card {
        flex-direction: column;
        text-align: center;
    }

    .edu-photo {
        width: 110px;
        height: 110px;
    }
}
