body {
    margin: 0;
    background: #f7f7f7;
    font-family: 'Segoe UI';
    color: #333;
}

.navbar {
    background: white;
    padding: 22px 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar nav a {
    font-size: 18px;
    color: #444;
    margin-left: 28px;
    position: relative;
    text-decoration: none;
}

.navbar nav a:hover { transform: translateY(-2px); color: #000; }

.navbar nav a::after {
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 0%; height: 3px;
    background: #777;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar nav a:hover::after {
    width: 100%;
}

section {
    max-width: 900px;
    background: white;
    padding: 45px;
    margin: 90px auto;
    border-radius: 35px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.07);
}

ul li {
    list-style: none;
    background: #f0f0f0;
    padding: 18px;
    margin: 12px 0;
    border-radius: 18px;
    font-size: 20px;
    transition: 0.25s ease;
}

ul li:hover {
    background: #e4e4e4;
    transform: translateX(8px);
}
